  <!-- medium item -->
  <div class="item-medium-1">
    <div class="item-medium-1__alert" *ngIf="productItem.discount">Sale</div>
    <div class="item-medium-1__image image" [style]="'background-image: url('+productItem.imagesUrls[0]+')'">
        <a href="#"   (click)="onAddToCartPressed()"  class="item-medium-1__action">Add to Cart</a>
    </div>
    <a [routerLink]="'/product/details/'+productItem._id" [queryParams]="{name:productItem.data[0].name}">
        <h4>{{productItem.data[0].name}}</h4>
        <div>
            <del *ngIf="productItem.discount"> {{productItem.price}} </del>
            <span class="lable">${{ productItem.discount ? productItem.price - productItem.discount : productItem.price}}</span>
        </div>
    </a>
    <div class="crud-actions">
        <a href="#"><i class="far fa-eye"></i></a>
        <a href="#"><i class="fas fa-edit"></i></a>
        <a href="#"><i class="fas fa-trash-alt"></i></a>
    </div>


